h2{
  background-color: blue;
}

header{
  background-color: red;
  height: 200px;
  width: 100%;
}

nav{
  background-color: Green;
  height: 50px;
  width: 100%;
}

main{
background-color: Purple;
height: 425px;
width: 70%;

}

aside{
background-color: blue;
height: 425px;
width: 30%;
}

footer{
background-color: orange;
height: 75px;
width: 100%;

}
#mainwrapper{
  display:flex;

}
#wrapper{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 600px) {

  #mainwrapper{
    display: flex;
    flex-direction: column;
  }
  main{
    width:100%;
  }
  aside{
    width:100%;
  }
  
}
